.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  color: #333;
  font-weight: 500;
}

.ul {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  text-decoration: none;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}
