.CartContainer {
  background: #fff;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  height: 90vh;
  width: 20rem;
  text-align: center;
  margin-top: 10vh;
  box-shadow: -10px 1px 120px #333;
}

.CartTile {
  font-weight: 400;
}

.CloseIcon {
  position: absolute;
  top: 0%;
  right: 10%;
  cursor: pointer;
}

.CartItemsContainer {
  height: 100%;
  padding: 1rem 0rem 2rem 0rem;
}
